body{
    margin:0;
    font-family: serif;
}

h1{
    margin:10px;
}

nav{
    width: calc(100% - 20px);
    padding-left:10px;
    padding-right:10px;
    height: 80px;
    background-color: #09192C;
    position: fixed;
    z-index: 1;
}

nav.home{
    animation: nav-home 1s forwards;
}

nav.normal{
    animation: nav-normal 1s forwards;
}

@keyframes nav-home{
    0%{
        background-color: #1b1038;
        height: 80px;
        width: calc(100% - 20px);
        padding-left:10px;
        padding-right:10px;
    }
    100%{
        background-color: #09192C;
        height: 150px;
        width: 84%;
        padding-left:8%;
        padding-right:8%;
    }
}

@keyframes nav-normal{
    0%{
        background-color: #09192C;
        height: 150px;
        width: 80%;
        padding-left:10%;
        padding-right:10%;
    }
    100%{
        background-color: #1b1038;
        height: 80px;
        width: calc(100% - 20px);
        padding-left:10px;
        padding-right:10px;
    }
}

@media only screen and (max-width: 1250px)  {
    @keyframes nav-home{
        0%{
            background-color: #1b1038;
            height: 80px;
            width: calc(100% - 20px);
            padding-left:10px;
            padding-right:10px;
        }
        100%{
            background-color: #09192C;
            height: 150px;
            width: 94%;
            padding-left:3%;
            padding-right:3%;
        }
    }
    
    @keyframes nav-normal{
        0%{
            background-color: #09192C;
            height: 150px;
            width: 94%;
            padding-left:3%;
            padding-right:3%;
        }
        100%{
            background-color: #1b1038;
            height: 80px;
            width: calc(100% - 20px);
            padding-left:10px;
            padding-right:10px;
        }
    }
}

#logo{
    height: 120px;
    margin-left: 10px;
}

#company-name{
    color: #fff;
}

nav #left{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    height: 100%;
    font-size: 32px;
}

nav #right{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: calc(100% - 300px);
    height: 100%;
    float: right;
}

nav #right a{
    text-decoration: none;
    color:#fff;
    padding:10px;
    font-size:24px;
}

nav #right a:hover{
    background-color: #29568d;
}

#home-page{
    position: relative;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: #09192C;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home-page h1{
    color:#fff;
    font-size: min(7vw,70px);
    font-weight:bold;
    margin-bottom:0;
}

#home-page p{
    color:#fff;
    margin-bottom:0;
    font-size: min(2vw,24px);
    font-weight: 100;
}

#service-page{
    position: relative;
    left:0;
    height: auto;
    width: 100%;
    background-color: #E5E6EA;
}

#service-page #title{
    position: relative;
    margin:0;
    padding-top:10px;
    width: 100%;
    font-size: min(5vw,60px);
    text-align: center;
}

#service-page #sub-title{
    font-size: min(2vw,24px);
    text-align: center;
    font-weight: 100;
}

#service-page #content{
    position:relative;
    text-align: center;
    width:min(1250px, 100%);
    margin:0 auto;
}

#service-page .container{
    text-align: left;
    display: inline-block;
    width: 300px;
    height: 200px;
    background-color: #fff;
    margin:20px;
    padding:10px 20px 0 20px;
    position:relative;
}

#service-page .container:last-of-type{
    margin-bottom: 120px;
}


#service-page .container p{
    margin:10px;
}
#service-page .container a{
    text-decoration: none;
    color:#db5156;
    padding:10px;
}

#service-page #content button{
    position:absolute;
    right: 70px;
    bottom:60px;
    width: 250px;
    padding:15px;
    border-radius: 25px;
    border:transparent;
    color:#fff;
    background-color: #f93f08;
    cursor: pointer;
}

#about-us-page{
    width:100%;
    background-color: #1F153B;
    padding:25px 0;
    position:relative;
}

#about-us-page:before {
    content: "";
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../../Image&assets/AboutUsBackground2.png);
    background-repeat: round;
}


#about-us-page #content{
    position:relative;
    text-align: center;
    width:min(1250px, 100%);
    margin:0 auto;
}

#about-us-page #content #left, #about-us-page #content #right{
    vertical-align: top;
    display: inline-block;
    width:48%;
}

#about-us-page #content #left{
    position:relative;
    top:-90px;
    text-align: left;
    padding-left:2%;
    color:#fff;
}

#about-us-page #content #left h1{
    position: relative;
    margin:0;
    padding-bottom:20px;
    width: 100%;
    font-size: min(5vw,60px);
    text-align: center;
}

#about-us-page2{
    width:100%;
    background-color: #fff;
    padding:25px 0;
    position:relative;
}

#about-us-page2 h1{
    position: relative;
    margin:0;
    padding-top:10px;
    width: 100%;
    font-size: min(4vw,50px);
    text-align: center;
}

#about-us-page2 #content{
    position:relative;
    text-align: center;
    width:min(1250px, 100%);
    margin:0 auto;
}

#about-us-page2 .item{
    display: inline-block;
    width: min(390px, 30vw);
    margin:10px;
}

#about-us-page2 .item span{
    color:#db5156;
    font-size:min(4vw,50px);
    position:relative;
}
#about-us-page2 .item span::before{
    position:absolute;
    right:-20px;
    top:-10px;
    content:"+";
    color:#db5156;
    font-size:min(4vw,40px);
    font-weight: bold;
}

#our-team{
    width:100%;
    background-color: #e5e6ea;
    padding:25px 0;
    position:relative;
}

#our-team #title{
    position: relative;
    margin:0;
    padding-top:10px;
    width: 100%;
    font-size: min(4vw,50px);
    text-align: center;
}

#our-team  #content{
    position:relative;
    text-align: center;
    width:min(1250px, 100%);
    margin:0 auto;
    padding-bottom:90px;
}

#our-team #content button{
    position:absolute;
    right: 70px;
    bottom:30px;
    width: 250px;
    padding:15px;
    border-radius: 25px;
    border:transparent;
    color:#fff;
    background-color: #f93f08;
    cursor: pointer;
}

#our-team .item{
    display: inline-block;
    width: min(390px, 30vw);
    margin:10px;
}

#our-team .item #description{
    width: min(390px, 30vw);
    font-size:min(2vw,25px);
    background-color: #fff;
}

#our-team .item img{
    width: min(390px, 30vw);
}

#careers-page{
    width:100%;
    background-color: #1F153B;
    padding-top:25px;
    position:relative;
}

#careers-page:before {
    content: "";
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../../Image&assets/AboutUsBackground2.png);
    background-repeat: round;
}


#careers-page #content{
    position:relative;
    text-align: center;
    width:min(1250px, 100%);
    margin:0 auto;
    top:-80px;
}

#careers-page #title{
    color: #fff;
    font-size: min(5vw,60px);
    font-weight: bold;  
    position: relative;
    top:-30px;
    left:-80px;
    width: 50%;
    text-align: center;
}

#careers-page .item{
    display: inline-block;
    width: min(390px, 30vw);
    margin:10px;
    background-color: #fff;
    text-align: left;
}

#careers-page .item h1{
    padding:10px 0;
    width: 290px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#careers-page #content button{
    position:absolute;
    bottom:-60px;
    left:10px;
    width: calc(100% - 20px);
    padding:15px 0;
    border-radius: 25px;
    border:transparent;
    color:#fff;
    font-size: 20px;
    background-color: #f93f08;
    cursor: pointer;
}

#our-course{
    width:100%;
    background-color: #e5e6ea;
    padding:25px 0;
    position:relative;
}

#our-course #title{
    position: relative;
    margin:0;
    width: 100%;
    font-size: min(5vw,60px);
    text-align: center;
}
